body {
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  background-color: whitesmoke;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 100%;
  display: flex;
  margin-top: 10vh;
}

.sidebar {
  flex: 1;
  height: 100vh;
  background-color: #afc7ac;
}
.content {
  flex: 1;
  height: 100vh;
  background-color: whitesmoke;
}
